<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PS4 Remote Installer</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container"><center>
    <h1>PS4 Remote Package Installer</h1>

    <div class="input-group">
        <label>PS4 IP:</label>
        <input type="text" id="ps4-ip" value="{{ client_ip }}" readonly>

    </div>

    <div class="input-group">
        <label>Select PKG:</label>
        <select id="pkg-url">
            {% for pkg in pkgs %}
                <option value="{{ pkg }}">{{ pkg }}</option>
            {% endfor %}
        </select>
        <button class="action-btn" onclick="aio()">Install PKG</button>
    </div>
    <!--
    <h2>Queue</h2>
    <table id="queue-table">
        <thead>
            <tr><th>PKG URL</th><th>Status</th></tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="button-row">
        <button class="action-btn" onclick="installQueue()">Install Queue</button>
        <button class="action-btn" onclick="clearQueue()">Clear Queue</button>
    </div>--> </center>   <!--Its kinda broken rn ill probably try to fix it later --> 
</div>

<script src="/static/script.js"></script>
</body>
</html>
